<head>
    <title>Sustainize</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="new_passwords.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Megrim:300,400,700' rel='stylesheet' type='text/css'>
    <link href="http://blazeworx.com/flags.css" rel="stylesheet">
</head>
<body>
    <br />
  <div class="image2"></div>
  <div class="container">
  <div class="text2">
      <h2>Forgot your password?</h2>
  </div>
  </div>

    <div class="login-hero2"></div>

<%= bootstrap_nested_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

<form class="form-horizontal">
      <div class="form-group">
    <%= f.label :email, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
    <%= f.email_field :email, class: "form-control", autofocus: true, placeholder: "don't forget the @" %>
    </div></div><br>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-6">
    <%= f.submit "Send me reset password instructions", class: "btn-basic" %>
    </div></div><br><br>
</form>
    <%= javascript_include_tag :defaults, "nested_form" %>
    <script src="http://blazeworx.com/jquery.flagstrap.min.js"></script>
    <script>
        $(document).ready(function () {
        $('#select_country').attr('data-selected-country','');
        $('#select_country').flagStrap({
        buttonType: "btn-default",
        placeholder: {
        value: "",
        text: "your country of residence",
    }
        });
        });
    </script>
    <script>
    $('#datepicker').datepicker({
    format: 'dd-mm-yyyy',
    keyboardNavigation: true,
    startDate: '01-01-1900',
    endDate: '31-12-2007',
    startView: 2
    });
    </script>
    
</body>
    <% end %><% end %>
